.definition__container {
	padding-bottom: 3rem;
}

.definition__wrapper {
	margin-top: 2rem;
}

.definition__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.definition {
	font-size: 48px;
	font-weight: 700;
}

.definition__phonetic {
	font-size: 20px;
	font-weight: 400;
	color: #a443ed;
}

.definition__type {
	margin: 2rem 0;
	display: flex;
	align-items: center;
	font-weight: 500;
	font-style: italic;
}

.definition__type::after {
	content: '';
	margin-left: 1rem;
	width: 100%;
	height: 1px;
	background: #d7d3d3;
}

.definition__meaning-heading {
	color: #6c6c6c;
}

.definition__synonyms {
	color: rgba(164, 69, 237, 1);
}

.synonyms__container {
	margin-top: 2rem;
	display: flex;
	align-items: center;

	& h3 {
		margin-right: 1rem;
	}
}

.synonym__btn {
	border: none;
	background: none;
	background-position: -100px 100%;
	color: rgba(164, 69, 237, 1);
	cursor: pointer;
	transition: 200ms;
}

.synonym__btn:not(:last-child) {
	margin-right: 0.75rem;
}

.synonym__btn:hover {
	background: linear-gradient(to left, #a544e8, #a445ed);
	background-size: 100% 2px;
	background-position: 0px 100%;
	background-repeat: no-repeat;
}

.synonym-btns__container {
	display: flex;
	flex-wrap: wrap;
}
