form,
.search__container,
.search {
	width: 100%;
}

.search__container {
	border-radius: 12px;
	padding: 1rem 1.2rem;
	display: flex;
	align-items: center;
	background-color: #f4f4f4;
	transition: box-shadow 150ms ease-in-out;
}

.search__container:focus-within {
	box-shadow: 0 0 0px 2px #a057d7;
}

.search {
	border: none;
	background-color: #f4f4f4;
	font-weight: bold;
}

.search:focus {
	outline: none;
}
