html {
	transition: filter 200ms ease-in-out;
}

.dark {
	filter: invert(1) hue-rotate(180deg);
}

body {
	font-family: 'Lora', serif;

	&.sans-serif {
		font-family: 'Manrope', sans-serif;
	}
}

.hidden {
	display: none;
}
